*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
togo
togo
scripts/
dev-scripts/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile.cmake
*.cmake
!CMakeLists.txt
/bin
vendor/
*.swp
*.swo
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.tmp 
